@model List<ProductCatalogModel>;
@{
    ViewData["Title"] = "Catalogo de productos";
}

<h1>MiTienda Online</h1>

<div class="row mt-5">
    @foreach(var product in Model)
    {
        <div class="col-md-3 m-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="width: 280px; height:200px;" src="@product.ImageURL" alt="@product.ProductName">
                <div class="card-body">
                    <h5 class="card-title limiter">@product.ProductName</h5>
                    <p class="card-text log-limiter">@product.Description</p>
                    <a href="#" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> Añadir</a>
                    <a asp-action="ProductCategoryDetail" asp-controller="ShoppingCar" 
                        asp-route-id="@product.ProductId" class="btn btn-success">
                        <i class="fa-solid fa-magnifying-glass"></i> Detalles
                    </a>
                </div>
            </div>
        </div>
    }
</div>



